
	<div class="container">
		<div class="agenda-hoy">
			<div class="hoy">
				<h1>Hoy en el Parlamento</h1>
			</div>
			<ul class="lista-temas">
				<li>
					<a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, velit, obcaecati, illo nesciunt sint possimus distinctio architecto repellendus quibusdam id autem asperiores cupiditate quam</a>
				</li>
				<li><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, ad ea sed maiores cumque molestias ipsum. Incidunt, magni, libero, hic atque quis officia magnam aut eligendi aperiam necessitatibus molestias similique.</a></li>
			</ul>
			<!--  -->
			<div class="agenda-hoy">
			<h1>Próximos temas</h1>
			<ul>
				<li>
					<a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, velit, obcaecati, illo nesciunt sint possimus distinctio architecto repellendus quibusdam id autem asperiores cupiditate quam</a>
				</li>
				<li><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, ad ea sed maiores cumque molestias ipsum. Incidunt, magni, libero, hic atque quis officia magnam aut eligendi aperiam necessitatibus molestias similique.</a></li>
			</ul>
			<!--  -->
			<div class="agenda-hoy">
			<h1>Temas tocados</h1>
			<ul>
				<li>
					<a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, velit, obcaecati, illo nesciunt sint possimus distinctio architecto repellendus quibusdam id autem asperiores cupiditate quam</a>
				</li>
				<li><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, ad ea sed maiores cumque molestias ipsum. Incidunt, magni, libero, hic atque quis officia magnam aut eligendi aperiam necessitatibus molestias similique.</a></li>
			</ul>
		</div>

	</div>
